# Core requirements
click
coreapi
jinja2
pytest
requests
werkzeug

# Optional
django
psycopg2
sqlalchemy
whitenoise
dj-database-url

# Testing requirements
codecov
flake8
isort
mypy
pytest-cov
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
